.grid{
  border: none;
  display: grid;
  grid-template-columns: 100px 1fr;
  margin: 0;
}

#left{
  display: grid;
  grid-template-rows: 70% 30%;
  border: none;
  margin-right: 10px;
  background-color: #d0dbe2;
  height: 100vh;
  text-align: center;
}

#left .vertical_top{
  display: grid;
  grid-template-rows: 15% 15% 15% 1fr;
  padding-top: 20px;
}

#left .vertical_top span{
  margin-top: 20px;
}

#left .vertical_bottom{
  display: grid;
  grid-template-rows: 20% 20% 20% 1fr;
  margin-top: 20px;
}

#left .vertical_bottom span{
  margin-top: 20px;
}
